* {
  font-family: sans-serif;
}
body{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container__counter {
  font-size: 30px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.container__btn {
  width: 40px;
  height: 40px;
  font-size: 25px;
}
.colorsBlock {
  display: flex;
  justify-content: center;
  margin: 10px;
  width:100%;
  
}
.colorsBlock__btn {
  width: 50px;
  height: 20px;
  background-color: red;
  border: 0px;
  border-radius: 3px;
  margin: 0 5px 0 5px;
}
#redBtn{
  background-color: red;
}
#greenBtn{
  background-color: green;
}
#blueBtn{
  background-color: blue;
}
#yellowBtn{
  background-color: #fc7703;
}
#pinkBtn{
  background-color: #f78396;
}
.statsContainer{
   display: flex;
  justify-content: center;
  margin:10px;
  width:100%;
  height:80px;
 
}
.statsContainer__btn{
  height: 40px;
  font-size: 25px;
}
.nightMode{
  display: flex;
  width: 50px;
  background-color: #D6D58E;
  padding: 4px;
  border-radius: 15px;
  position:fixed;
  top: 10px;
  right: 30px;
}
.nightMode__btn{
  width: 20px;
  height: 20px;
  background-color: #042940;
  border-radius: 15px;
}
